h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: var(--primary_font);
}

.h1_title {
    @include font-size($h1_font_sizes);
}

.h2_title {
    @include font-size($h2_font_sizes);
    color: var(--uc-secondary-color);
    margin-bottom: 20px;
    position: relative;
}

.h3_title {
    @include font-size($h3_font_sizes);
    font-weight: 600;
    position: relative;
    font-family: var(--secondary_font);
}

.h4_title {
    @include font-size($h4_font_sizes);
    font-weight: bold;
    margin-bottom: 5px;
}

body,
p {
    @include font-size($p_body_font_sizes);
}