@import "variable";

@import "theme_colors";

@import "mixin";

@import "fonts";

@import "typography";

@import "space";

@import "responsive";

// Images
$imagePath: "../images";
$bannerShape: url(#{$imagePath}/banner-shape.png);
$dotShape: url(#{$imagePath}/dot-shape.png);
$verticalShape: url(#{$imagePath}/shape-vertical.png);

// Common Start

:root {
    --primary_color: #{$primary_color};
    --secondary_color: #{$secondary_color};
    --tertiary_color: #{$tertiary_color};
    --quaternary_color: #{$quaternary_color};
    --body_color: #{$body_color};
    --white_color: #{$white_color};
    --black_color: #{$black_color};
    --gray_color1: #{$gray_color1};
    --gray_color2: #{$gray_color2};
    --gray_color3: #{$gray_color3};
    --gray_color4: #{$gray_color4};
    --box_shadow: 0 3px 6px #{rgba($black_color, 16%)};
    --radius: 7px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: var(--primary_font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body_color);
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}

ul {
    @include list_reset;
}

.back_img {
    @include back_img;
}

a {
    @include transition;
    color: var(--primary_color);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

p {
    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}

.white-text {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.sec_btn),
    ul li {
        color: var(--white_color);
    }
}

.sec_wp {
    position: relative;
    z-index: 4;
}

.sec_btn {
    @include d_flex($dis_flex: inline-flex);
    @include transition;
    background-color: var(--secondary_color);
    color: var(--white_color);
    border: none;
    outline: none !important;
    min-width: 166px;
    min-height: 47px;
    padding: 12px 35px;
    border-radius: 5px;
    font-family: var(--primary_font);
    box-shadow: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 5;

    &:hover {
        background-color: var(--tertiary_color);
        color: var(--black_color);
    }

    &.sm_btn {
        min-width: 130px;
        min-height: 37px;
        padding: 6px 14px;
    }
    &.xs_btn {
        min-width: 72px;
        min-height: 28px;
        padding: 2px 14px;
    }
}

.sec-title {
    margin-bottom: 48px;
}

.overlay {
    position: relative;

    &:before {
        @include before_after($z_ind: 1);
        @include transition;
        background: var(--secondary_color);
    }
}

.social {
    ul {
        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 13px;
            }

            a {
                --size: 34px;
                @include d_flex;
                @include transition;
                font-size: 16px;
                color: var(--white_color);
                background: var(--primary_color);
                width: var(--size);
                height: var(--size);
                border-radius: 50%;
                position: relative;
                overflow: hidden;

                &:before {
                    @include transition;
                    content: "";
                    position: absolute;
                    bottom: -200%;
                    left: -200%;
                    width: 200%;
                    height: 200%;
                    border-radius: 50%;
                    z-index: 1;
                    background: var(--white_color);
                }

                i,
                svg {
                    position: relative;
                    z-index: 2;
                }

                &:hover {
                    color: var(--primary_color);

                    &:before {
                        bottom: -50%;
                        left: -50%;
                    }
                }
            }
        }
    }

    &.blue-hover {
        ul {
            li {
                a {
                    &:before {
                        background: var(--secondary_color);
                    }

                    &:hover {
                        color: var(--white_color);
                    }
                }
            }
        }
    }
}

.body-fixed {
    overflow: hidden;
}

.play_btn {
    --size: 60px;
    @include d_flex;
    @include transition;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
    z-index: 2;
    border-radius: 50%;
    background-color: var(--secondary_color);
    color: var(--white_color);
    cursor: pointer;

    svg {
        path {
            stroke: currentColor;
        }
    }

    &:hover {
        background-color: var(--tertiary_color);
        color: var(--black_color);
    }
}

.text_center {
    text-align: center;
}

// Common End

// Header Start
.main_header {
    border-bottom: 1px solid var(--black_color);
    position: relative;
    z-index: 100;

    .top_header {
        background-color: var(--tertiary_color);
        padding-block: 8px;

        .top_header_contact {
            ul {
                display: flex;
                align-items: center;
                gap: 15px 46px;

                li {
                    &:last-child {
                        margin-left: auto;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        font-size: 14px;
                        line-height: 1.5;

                        img {
                            width: 15px;
                            flex: 0 0 auto;
                        }
                    }
                }
            }
        }
    }

    .bottom_header {
        padding-block: 7px;

        .site_logo {
            height: 100%;

            a {
                height: 100%;
                @include d_flex($justify: flex-start);
            }
        }

        .header_menu_wp {
            height: 100%;
            @include d_flex($justify: space-between);
        }
    }
}

.nav_menu {
    > ul {
        @include d_flex;
        gap: 15px 56px;

        > li {
            height: 100%;
            position: relative;

            > a {
                font-weight: 500;
            }

            .sub_menu {
                @include transition;
                position: absolute;
                width: 200px;
                z-index: 10;
                top: 100%;
                left: 0;
                transform: translateY(15px);
                padding: 10px;
                background: var(--white_color);
                box-shadow: var(--box_shadow);
                display: inline-block;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;

                > li {
                    display: block;

                    a {
                        display: block;
                        padding: 5px 10px;

                        &:hover {
                            background-color: var(--secondary_color);
                            color: var(--white_color);
                        }
                    }
                }
            }

            &:hover {
                > .sub_menu {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }

                & > a {
                    color: var(--secondary_color);
                }
            }
        }
    }
}

// Header End

// Banner Start

.main_banner {
    padding: 33px 0 62px;
    position: relative;

    &:before {
        @include back_img;
        background-image: $bannerShape;
        content: "";
        position: absolute;
        bottom: 70%;
        left: 70%;
        width: 658px;
        height: 554px;
        opacity: 0.3;
        z-index: 1;
    }

    .banner_content {
        .h1_title {
            margin-bottom: 70px;
        }
    }

    .banner_imgs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 535px;
        gap: 35px;
        position: relative;
        z-index: 2;

        &:before {
            @include back_img;
            background-image: $dotShape;
            content: "";
            position: absolute;
            bottom: -62px;
            left: 234px;
            width: 75px;
            height: 156px;
            z-index: -1;
        }

        .banner_img {
            border-radius: var(--radius);

            &.banner_img1 {
                grid-column: 1/4;
                grid-row: 1/3;
            }

            &.banner_img2 {
                grid-column: 4/6;
                grid-row: 1/2;
            }

            &.banner_img3 {
                grid-column: 4/6;
                grid-row: 2/2;
            }
        }
    }
}

// Banner End

// About Start
.about_sec {
    padding-block: 88px 70px;

    .about_img {
        height: 412px;
        width: 100%;
        border-radius: var(--radius);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 16px;
            left: -16px;
            width: 100%;
            height: 100%;
            background-color: var(--quaternary_color);
            z-index: -1;
        }

        &:after {
            @include back_img;
            background-image: $dotShape;
            content: "";
            position: absolute;
            bottom: -108px;
            right: 80px;
            width: 75px;
            height: 156px;
            z-index: -2;
        }
    }

    .about_content {
        padding-left: 70px;

        .about_services {
            margin-block: 47px 30px;
            column-count: 2;
            column-gap: 40px;
            column-rule: 1px solid var(--gray_color4);

            .about_service_box {
                padding-bottom: 10px;
            }
        }
    }
}

// About End

// Services Start
.services_sec {
    padding-block: 80px;

    .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 40px;
    }

    .service_box_wp {
        .service_box_num {
            @include d_flex($dis_flex: inline-flex);
            font-family: var(--secondary_font);
            background-color: var(--secondary_color);
            color: var(--white_color);
            font-size: 25px;
            font-weight: 600;
            border-radius: var(--radius);
            min-width: 44px;
            min-height: 44px;
            margin-bottom: 12px;
        }

        .service_box {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 16px;
                left: -16px;
                width: 85%;
                height: 100%;
                background-color: var(--quaternary_color);
                z-index: -1;
            }

            .service_box_img {
                width: 100%;
                height: 190px;
                border-radius: var(--radius) var(--radius) 0 0;
            }

            .service_box_content {
                text-align: center;
                background-color: var(--white_color);
                padding: 0 15px 35px;

                .service_box_icon {
                    @include d_flex($dis_flex: inline-flex);
                    font-family: var(--secondary_font);
                    background-color: var(--secondary_color);
                    color: var(--white_color);
                    font-size: 25px;
                    font-weight: 600;
                    border-radius: var(--radius);
                    min-width: 44px;
                    min-height: 44px;
                    margin-bottom: 12px;
                    margin-top: -20px;
                }

                .h3_title {
                    font-size: 25px;
                }

                p {
                    margin-bottom: 18px;
                }
            }
        }
    }
}

// Services End

// Portfolio Start

.portfolio_sec {
    padding-block: 80px;
    position: relative;

    &:before {
        @include back_img;
        background-image: $verticalShape;
        content: "";
        position: absolute;
        bottom: 60%;
        right: -5%;
        width: 420px;
        height: 554px;
        opacity: 0.3;
        z-index: 1;
    }

    &:after {
        @include back_img;
        background-image: $verticalShape;
        content: "";
        position: absolute;
        top: 60%;
        left: -15%;
        width: 522px;
        height: 823px;
        opacity: 0.3;
        z-index: 1;
    }

    .portfolio_video {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: -23px;
            width: 80%;
            height: calc(100% + 23px);
            background-color: var(--quaternary_color);
            z-index: -1;
        }

        &:after {
            @include back_img;
            background-image: $dotShape;
            content: "";
            position: absolute;
            bottom: -108px;
            right: -40px;
            width: 75px;
            height: 156px;
            z-index: -2;
        }

        video {
            display: block;
            height: 430px;
            object-fit: cover;
        }
    }

    .portfolio_content {
        max-width: 600px;
        margin-left: 90px;

        .portfolio_counter_wp {
            --gap: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 30px;

            .count_box {
                --gap: 27px;
                display: flex;
                align-items: center;
                gap: var(--gap);
                padding: 23px 20px 14px 10px;
                border-right: 1px solid var(--gray_color4);
                border-bottom: 1px solid var(--gray_color4);

                &:nth-child(2n + 2) {
                    padding-left: 30px;
                    border-right: none;
                }

                &:nth-last-child(-n + 2) {
                    border-bottom: none;
                }

                .count_box_num {
                    font-family: var(--secondary_font);
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 1.1;
                }

                p {
                    color: var(--gray_color1);
                }
            }
        }
    }
}

// Portfolio End

// Pricing Start

.pricing_sec {
    padding-block: 80px;

    .pricing_row {
        position: relative;

        &:after {
            @include back_img;
            background-image: $dotShape;
            content: "";
            position: absolute;
            bottom: -148px;
            right: -40px;
            width: 75px;
            height: 156px;
            z-index: -2;
        }

        .row {
            --bs-gutter-x: 40px;
            --bs-gutter-y: 40px;
        }
    }

    .pricing_box_wp {
        .pricing_box_num {
            @include d_flex($dis_flex: inline-flex);
            font-family: var(--secondary_font);
            background-color: var(--secondary_color);
            color: var(--white_color);
            font-size: 25px;
            font-weight: 600;
            border-radius: var(--radius);
            min-width: 44px;
            min-height: 44px;
            margin-bottom: 12px;
            padding-inline: 5px;
        }

        .pricing_box {
            @include d_flex($align: flex-start);
            flex-direction: column;
            position: relative;
            background-color: var(--white_color);
            padding-inline: 75px 60px;
            padding-block: 52px 41px;
            border-radius: var(--radius);

            &:before {
                content: "";
                position: absolute;
                top: 16px;
                left: -16px;
                width: 85%;
                height: 100%;
                background-color: var(--quaternary_color);
                z-index: -1;
            }

            .h3_title {
                margin-bottom: 14px;
            }

            .pricing_box_price {
                margin-block: 10px 30px;

                .currency,
                .price {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 1.1;
                    font-family: var(--secondary_font);
                }

                .period {
                    color: var(--gray_color2);
                }
            }

            .pricing_box_content {
                margin-bottom: 35px;

                > p {
                    color: var(--secondary_color);
                }

                .pricing_box_services {
                    margin-top: 35px;

                    ul {
                        @include d_flex($align: flex-start);
                        flex-direction: column;
                        gap: 15px;

                        li {
                            display: flex;
                            align-items: center;
                            gap: 6px;

                            img {
                                flex: 0 0 auto;
                                width: 16px;
                                height: 16px;
                            }

                            span {
                                font-weight: 300;
                            }

                            &.disable_service {
                                color: var(--gray_color3);
                                text-decoration-line: line-through;

                                img {
                                    filter: brightness(0) saturate(100%) invert(64%) sepia(3%) saturate(35%) hue-rotate(14deg) brightness(96%) contrast(86%);
                                }
                            }
                        }
                    }
                }
            }

            .sec_btn {
                margin-inline: auto;
            }
        }
    }
}

// Pricing End

// Why Choose Us Start

.why_choose_us_sec {
    padding-block: 100px 85px;
    position: relative;

    &:before {
        @include back_img;
        background-image: $verticalShape;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 522px;
        height: 829px;
        opacity: 0.3;
        z-index: 1;
    }

    .why_choose_us_img {
        width: 100%;
        height: 562px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 23px;
            left: -23px;
            width: 52%;
            height: 100%;
            background-color: var(--quaternary_color);
            z-index: -1;
        }
    }

    .why_choose_us_content {
        max-width: 450px;
        margin-left: auto;
        position: relative;

        &:after {
            @include back_img;
            background-image: $dotShape;
            content: "";
            position: absolute;
            top: 100%;
            right: 160px;
            width: 75px;
            height: 156px;
            z-index: -2;
        }

        .sec_title {
            margin-bottom: 50px;
        }

        .why_choose_us_boxes {
            .why_choose_us_box {
                @include d_flex($align: flex-start);
                flex-direction: column;
                gap: 9px;

                &:not(:last-child) {
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid var(--gray_color4);
                }

                .why_choose_us_box_img {
                    --size: 50px;
                    @include d_flex;
                    width: var(--size);
                    height: var(--size);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .why_choose_us_box_content {
                    @include d_flex($align: flex-start);
                    flex-direction: column;
                    gap: 9px;
                }
            }
        }
    }
}

// Why Choose Us End

// Blog Start

.blog_sec {
    padding-block: 65px;

    .sec_title {
        margin-bottom: 63px;
    }

    .blog_row {
        .row {
            --bs-gutter-x: 22px;
            --bs-gutter-y: 22px;
        }
    }

    .blog_box_wp {
        position: relative;

        .blog_box_date {
            @include d_flex($dis_flex: inline-flex);
            font-family: var(--secondary_font);
            background-color: var(--secondary_color);
            color: var(--white_color);
            font-size: 24px;
            font-weight: 600;
            border-radius: var(--radius);
            min-width: 86px;
            min-height: 33px;
            margin-bottom: 12px;
            padding-inline: 5px;
        }

        .blog_box {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 13px;
                left: -13px;
                width: 100%;
                height: 100%;
                background-color: var(--quaternary_color);
                z-index: -1;
            }

            .blog_box_img {
                width: 100%;
                height: 250px;
                border-radius: var(--radius) var(--radius) 0 0;
            }

            .blog_box_content {
                @include d_flex;
                flex-direction: column;
                border-radius: var(--radius);
                background-color: var(--white_color);
                margin-top: -50px;
                position: relative;
                z-index: 2;
                padding: 0 20px 20px;

                .blog_box_author {
                    --size: 54px;
                    @include d_flex;
                    flex-direction: column;
                    gap: 2px;
                    margin-top: calc(var(--size) * -0.5);
                    margin-bottom: 2px;

                    img {
                        width: var(--size);
                        height: var(--size);
                        object-fit: cover;
                        object-position: center;
                        border: 1px solid var(--secondary_color);
                        border-radius: 50%;
                        display: block;
                    }

                    span {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }

                .blog_box_footer {
                    @include d_flex($justify: space-between);
                    margin-top: 20px;
                    width: 100%;

                    .blog_box_comment {
                        @include d_flex;
                        gap: 5px;
                    }
                }
            }
        }
    }
}
